<div class="container-fluid">   
    <div class="row">
    <div class="parent">
        <div class="div1">
            <img src="https://drive.google.com/uc?export=download&id=1Ya2sEWBazWrCLReRDZDsh_JKfIqZ9dA0" alt="mi foto">
        </div>
        <div class="div2">
            <h1>{{usuario.nombre}} {{usuario.apellido}}</h1>
            <h3>{{usuario.titulo}}</h3>
        </div>
        <div class="div3">
            <h1>Acerca de Mi</h1>
            <p>Mi nombre es Pablo soy Full Stack Developer jr, desde muy joven he trabajado en diferentes profesiones, destacándome y alcanzando logros y reconocimiento en cada uno de ellos. en base a esfuerzo, compromiso y dedicación.
                ahora me encuentro en esta nueva etapa iniciando mis primeros pasos en Programación, espero poder tener la posibilidad de desarrollarme para a si poder alcanzar mis metas y objetivos.</p>
                
        </div>
    </div>
</div>
</div>

