<div class="container-fluid">
<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-2">
    <button type="button" class="btn btn-primary" routerLink="/nuevaexp" *ngIf="isLogged">Experiencia Nueva</button>
  </div>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let Experiencia of expeLabo">
          <td>{{Experiencia.tituloExp}}</td>
          <td>{{Experiencia.fechaExp}}</td>
          <td>{{Experiencia.descExp}}</td>
          <td *ngIf="isLogged">
            <button class="btn btn-secondary" routerLink="/editexp/{{Experiencia.id}}">
              <i class="bi bi-pencil-fill" title="Editar"></i>
            </button>
          </td>
          <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(Experiencia.id)">
              <i class="bi bi-trash-fill" title="Eliminar"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
