<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="tituloExp">Nombre de la Empreza</label>
                    <input type="text" class="form-control" id="tituloExp" name="tituloExp" [(ngModel)]="tituloExp" required>
                </div>
                <div class="form-group">
                    <label for="fechaExp">Fecha</label>
                    <input type="text" class="form-control" id="fechaExp" name="fechaExp" [(ngModel)]="fechaExp" required>
                </div>
                <div class="form-group">
                    <label for="descExp">Descripcion de la tarea</label>
                    <input type="text" class="form-control" id="descExp" name="descExp" [(ngModel)]="descExp" required>
                </div>
                <button class="btn btn-primary">Agregar Experiencia</button>
            </form>
        </div>
    </div>
</div>
