
<div class="row">
  <h1>Hard & Soft Skills</h1>
  <div class="col-lg-2">
    <button type="button" class="btn btn-primary" routerLink="/newskill" *ngIf="isLogged">Skill nueva</button>
  </div>
  <div class="col-lg-10"></div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
        <circle-progress
            [percent]="(skill.porcentaje)"
            [radius]="50"
            [responsive]="true"
            [title]="(skill.nombreSkill)"
            [titleColor]="'black'"
            [titleFontSize]="'10px'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#1976d2'"
            [innerStrokeColor]="'#1976d2'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
      <div>
        <td *ngIf="isLogged">
          <button class="btn btn-secondary" routerLink="/editskill/{{skill.id}}">
            <i class="bi bi-pencil-fill" title="Editar"></i>
          </button>
        </td>
        <td *ngIf="isLogged">
          <button class="btn btn-danger" (click)="delete(skill.id)">
            <i class="bi bi-trash-fill" title="Eliminar"></i>
          </button>
        </td>
      </div>
    </div>
</div>

    
 
  
