<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreProyec">Proyecto</label>
                    <input type="text" class="form-control" id="nombreProyec" name="nombreProyec" [(ngModel)]="nombreProyec" required>
                </div>
                <div class="form-group">
                    <label for="descProyec">Descripcion</label>
                    <input type="text" class="form-control" id="descProyec" name="descProyec" [(ngModel)]="descProyec" required>
                </div>
                <div class="form-group">
                    <label for="imagenProyec">Imagen</label>
                    <input type="text" class="form-control" id="imagenProyec" name="imagenProyec" [(ngModel)]="imagenProyec" required>
                </div>
                <button class="btn btn-primary">Agregar Proyecto</button>
            </form>
        </div>
    </div>
</div>
